
body {
    /*STYLE*/
    background-color: #182025 ;
}

main {
    /*STRUCTURE*/
    padding: 0vh 2vw;
    margin: 0vh 5vw;
    /*STYLE*/
    color: #ffffff;
}
main section{  
    /*STRUCTURE*/  
    margin: 10vh 0vw;
    /*STYLE*/
    font-size: 2vw;

}
            /*PRESENTATION */
.Present-me{
    /*STRUCTURE*/
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30vh;

    
}
.Present-me div:nth-child(1){
    /*STRUCTURE*/
    width: 70%;
}
.Present-me div:nth-child(2){
    /*STRUCTURE*/
    border-radius: 50%;
    padding: 0vh 2vw;
    width: 30%;
    margin-left: 5vw;
 
}
.Present-me div:nth-child(2) img{
    /*STRUCTURE*/
    width: 25vw;
    
}
            /*EXPERIENCE*/
.competence,.experience, .formation{
    /*STYLE*/
    background: linear-gradient(#d2bb818a, #222e3688);
    margin: 5vh 0vw;
    box-shadow: 0px 0px 20px black ;
    border-radius: 5vw 0vh;
    padding: 2vh 5vw;
}
.competence{
    /*STRUCTURE*/
    display: flex;
    flex-direction: column;
}
.element {
    /*STRUCTURE*/
    margin: 2vh 2vw;
}
.element  h4{
    /*STYLE*/
    color: #dedede;
}



            /*FORMATION*/

.Block{
    /*STYLE*/
    border-radius: 15px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}
.Block div{
    /*STRUCTURE*/
    margin: 5vh 2vw;

}
.Block div b{
    /*STYLE*/
    font-size: 0.8rem;
}
.Block div p{
    
    /*STYLE*/
    color:#f0cc728a ;
}
.Block div ul li{
    /*STRUCTURE*/
    margin: 1vh 2vw;

    /*STYLE*/
    color:#dedede ;
}




            /*REALISATION*/
#Realisation > div:nth-child(1){
    display: flex;
    justify-content: center;
}
#Realisation div:nth-child(1) span:nth-child(1){
    /*STRUCTURE*/
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    padding: 0vh 8vw;
    margin-right: 0.5vw;
}
#Realisation div:nth-child(1) span:nth-child(2){
    /*STRUCTURE*/
    border-bottom: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    padding: 0vh 10vw;
    margin-left: 0.5vw;
}

#Realisation .projet{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(#d2bb818a, #222e3688);
    margin: 5vh 0vw;
    box-shadow: 0px 0px 20px black ;
    border-radius: 14px;
    padding: 1vh 5vw;
    font-size: 80%;

}


#Realisation .projet .status{
    align-items: center;
    background-color: #182025;
    padding: 0vh 2vw;
    border-radius: 20px;
}
#Realisation .projet .links a:nth-child(1){
    color: #d2bb81;
   }
#Realisation .projet .links a:nth-child(2){
    margin: 0vh 1vw;
    padding: 0.5vh 2vw;
    box-shadow: 0px 0px 20px black ;
    border-radius: 20px;
   }

/*Progression bar*/
.progBar{
    width: 100%;
    height: 0.6vh;
    background-color: #182025;
    display: flex;
    flex-direction: row;
}

.point{
    height: 0.8vh;
    width: 1.5vw;
    border-left: 1px  solid #000000;
    background-color:#ff0000 ;
    border-bottom-right-radius: 50vw;
    box-shadow: 0px 0px 10px #000000;
}


            /*INTERACTION*/
#Realisation div:nth-child(1) span:nth-child(1):hover{
    cursor: pointer;
    background-color: #d2bb812d;
    color: #d2bb81;
    border-bottom: 1px solid #d2bb81;
    border-right: 1px solid #d2bb81;
    padding: 0vh 12vw;
}
#Realisation div:nth-child(1) span:nth-child(2):hover{
    cursor: pointer;
    background-color: #d2bb812d;
    color: #d2bb81;
    border-bottom: 1px solid #d2bb81;
    border-left: 1px solid #d2bb81;
    padding: 0vh 15vw;
}



/*Progression bar*/
.progstep1{
    height: 100%;
    width: 69%;
    background-color:#ff0000 ;
}
.progstep2{
    height: 100%;
    width: 60%;
    background-color:#ff0000 ;
}
.progstep3{
    height: 100%;
    width: 80%;
    background-color:#ff0000 ;
}
.progstep4{
    height: 100%;
    width: 80%;
    background-color:#ff0000 ;
}
.progstep5{
    height: 100%;
    width: 70%;
    background-color:#ff0000 ;
}
.progstep6{
    height: 100%;
    width: 75%;
    background-color:#ff0000 ;
}
.progstep7{
    height: 100%;
    width: 80%;
    background-color:#ff0000 ;
}
.progstep8{
    height: 100%;
    width: 45%;
    background-color:#ff0000 ;
}
.progstep9{
    height: 100%;
    width: 70%;
    background-color:#ff0000 ;
}
.progstep1a{
    height: 100%;
    width: 50%;
    background-color:#ff0000 ;
}
.progstep2a{
    height: 100%;
    width: 60%;
    background-color:#ff0000 ;
}
.progstep3a{
    height: 100%;
    width: 70%;
    background-color:#ff0000 ;
}
.progstep4a{
    height: 100%;
    width: 65%;
    background-color:#ff0000 ;
}
.progstep5a{
    height: 100%;
    width: 80%;
    background-color:#ff0000 ;
}
.progstep6a{
    height: 100%;
    width: 80%;
    background-color:#ff0000 ;
}
.progstep7a{
    height: 100%;
    width: 65%;
    background-color:#ff0000 ;
}
.progstep8a{
    height: 100%;
    width: 80%;
    background-color:#ff0000 ;
}
.progstep9a{
    height: 100%;
    width: 50%;
    background-color:#ff0000 ;
}
.progstep1b{
    height: 100%;
    width: 60%;
    background-color:#ff0000 ;
}
.progstep2b{
    height: 100%;
    width: 65%;
    background-color:#ff0000 ;
}
.progstep3b{
    height: 100%;
    width: 80%;
    background-color:#ff0000 ;
}
.progstep4b{
    height: 100%;
    width: 80%;
    background-color:#ff0000 ;
}
.progstep5b{
    height: 100%;
    width: 80%;
    background-color:#ff0000 ;
}
.progstep6b{
    height: 100%;
    width: 80%;
    background-color:#ff0000 ;
}
.progstep7b{
    height: 100%;
    width: 50%;
    background-color:#ff0000 ;
}
.progstep8b{
    height: 100%;
    width: 80%;
    background-color:#ff0000 ;
}
.progstep9b{
    height: 100%;
    width: 80%;
    background-color:#ff0000 ;
}.progstep1c{
    height: 100%;
    width: 80%;
    background-color:#ff0000 ;
}
.progstep2c{
    height: 100%;
    width: 55%;
    background-color:#ff0000 ;
}
.progstep3c{
    height: 100%;
    width: 50%;
    background-color:#ff0000 ;
}
.progstep4c{
    height: 100%;
    width: 50%;
    background-color:#ff0000 ;
}
.progstep5c{
    height: 100%;
    width: 50%;
    background-color:#ff0000 ;
}
.progstep6c{
    height: 100%;
    width: 50%;
    background-color:#ff0000 ;
}
.progstep7c{
    height: 100%;
    width: 55%;
    background-color:#ff0000 ;
}