
body {
    /*STYLE*/

    background-color: #182025 ;
}

main {
    /*STRUCTURE*/

    padding-left: 30vw;
    /*STYLE*/
    color: #ffffff;
}
main section{    
    width: 60vw;
    margin: 20vh 0vw;
    

}
/*PRESENTATION */
.Present-me{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30vh;
    
}
.Present-me div:nth-child(2){
    
    border-radius: 50%;
    padding: 0vh 2vw;
    width: 20vw;
    margin-left: 5vw;
 
}
.Present-me div:nth-child(2) img{
    width: 10vw;
    
}
/*EXPERIENCE*/
.competence,.parcours{
    /*STYLE*/
    background: linear-gradient(#d2bb818a, #222e3688);
    margin: 5vh 0vw;
    box-shadow: 0px 0px 20px black ;
    border-radius: 5vw 0vh;
    padding: 2vh 5vw;
}
.competence{
    display: flex;
    flex-direction: column;
}
.element {
    margin: 2vh 0vw;
}


/*Progression bar*/
.progBar{
    width: 100%;
    height: 0.6vh;
    background-color: #182025;
    display: flex;
    flex-direction: row;
}
.progstep1{
    height: 100%;
    width: 80%;
    background-color:#ff0000 ;
}
.progstep2{
    height: 100%;
    width: 75%;
    background-color:#ff0000 ;
}
.progstep3{
    height: 100%;
    width: 60%;
    background-color:#ff0000 ;
}
.progstep4{
    height: 100%;
    width: 65%;
    background-color:#ff0000 ;
}.progstep5{
    height: 100%;
    width: 80%;
    background-color:#ff0000 ;
}
.progstep6{
    height: 100%;
    width: 65%;
    background-color:#ff0000 ;
}.progstep7{
    height: 100%;
    width: 70%;
    background-color:#ff0000 ;
}
.progstep8{
    height: 100%;
    width: 75%;
    background-color:#ff0000 ;
}.progstep9{
    height: 100%;
    width: 70%;
    background-color:#ff0000 ;
}
.progstep1a{
    height: 100%;
    width: 45%;
    background-color:#ff0000 ;
}
.point{
    height: 0.8vh;
    width: 1.5vw;
    border-left: 1px  solid #000000;
    background-color:#ff0000 ;
    border-bottom-right-radius: 50vw;
    box-shadow: 0px 0px 10px #000000;
}


/*INTERACTION*/
