
body {
    /*STYLE*/
    background: #222e36;
    
}

main {
    /*STRUCTURE*/

    padding-left: 30vw;
    /*STYLE*/
    color: #ffffff;
}
main section{    
    width: 60vw;
    margin: 20vh 0vw;
    

}
/*PRESENTATION */
.Present-me{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.Present-me div:nth-child(2){
    
    border-radius: 50%;
    padding: 0vh 2vw;
    width: 20vw;
    margin-left: 5vw;
 
}
.Present-me div:nth-child(2) img{
    width: 10vw;
    
}
/*EXPERIENCE*/
.competence,.parcours{
    background: linear-gradient(#d2bb81, #222e36);
    margin: 5vh 0vw;
    box-shadow: 0px 0px 20px black ;
    border-radius: 5vw 0vh;
    padding: 2vh 5vw;
}
.competence{
    display: flex;
    flex-wrap: wrap;
}
.element, .element p {
    margin: 2vh 0vw;
}
/*Progression bar*/
.progBar{
    width: 100%;
    height: 0.6vh;
    background-color: #182025;
    display: flex;
    flex-direction: row;
}
.progstep1{
    height: 100%;
    width: 50%;
    background-color:#ff0000 ;
}
.progstep2{
    height: 100%;
    width: 15%;
    background-color:#ff0000 ;
}
.point{
    height: 1.2vh;
    width: 1.5vw;
    background-color:#ff0000 ;
    border-bottom-right-radius: 50vw;
    box-shadow: 0px 0px 10px #5c0000;
}


/*INTERACTION*/
