
header{
    /*STRUCTURE*/
    padding: 2%;
    position: fixed;
    min-height: 100vh;
    display:flex ;
    flex-direction: column;
    justify-content: space-between;

    /*STYLE*/
    color:white;
    background:linear-gradient(to bottom, #000000cc,transparent,70%, #000000cc);

}
.title h1{
        /*STYLE*/
        font-size:32px
}
.menu ul li{
    /*STRUCTURE*/
     padding: 10% 0%;


    /*STYLE*/
    font-size:18px;

}



