/* les style du Dashbord laterale structurer de manier suivant "STRUCTURE" pour le placement les taille ,"Style" pour le couleur et modification des font */

header{
    /*STRUCTRE*/
    display: flex;
    min-width: 96vw;
    position:fixed;
    top: 0;
    flex-direction: row;
    padding: 1vh 2vw;
    justify-content: space-between;
    align-items: center;

    /*STYLE*/
    color: #ffffff;
    background: linear-gradient(#d2bb818a, #222e3688);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 10px #000000;
}
header .title{
    /*STRUCTRE*/
    display: flex;
    flex-direction: row;
    
    /*STYLE*/
    font-size: 2vw;
}
header .title img{
    /*STRUCTURE*/
    display: none;
}

header .menu ul li div{
    display: none;
}

header .menu ul li{
    /*STRUCTURE*/
    padding: 0vh 2vw;
    

}

header .menu ul{
    /*STRUCTURE*/
    display: flex;
    flex-direction: row;

    /*STYLE*/
    font-size: 2vw;
}

header .Footer ul{
    /*STRUCTURE*/
    display: flex;
    flex-direction: column;

    /*STYLE*/
    font-size: 2vw;

}
header .Footer ul li{
    /*STRUCTURE*/
    padding: 0.3vh 0vw;
}
a{
        /*STYLE*/
    color: #ffffff;
    text-decoration: none;
}
    /*INTERACTION*/

    
